<h1>Alumnos</h1>
<h4>Listado de alumnos en el Sistema</h4>

<div class="row">
	
	<table class="table table-striped">
		<tr>
			<th>Codigo</th>
			<th>Nombre</th>
			<th>Telefono</th>
			<th>Ver</th>
		</tr>

		<tr ng-repeat="alumno in alumnos | limitTo:posicion | limitTo:-5">
			<!-- Ese alumnos viene de alumnosCtrl. Y ahí estan los elementos de la tabla SQL-->
			<td> {{ alumno.codigo }} </td>
			<td> {{ alumno.nombre }} </td>
			<td> {{ alumno.telefono | telefono }} </td>
			<td> <a href="#/alumno/{{ alumno.codigo }}">Ver Registro</a> </td>
		</tr>

	</table>

	<br>

	<button class="btn btn-primary" ng-click="ateriores()">Anteriores</button>
	<button class="btn btn-primary" ng-click="siguientes()">Siguientes</button>

</div>